.skill {

  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  // padding-top: 15vh;
  // display: flex;
  // flex-direction: column;

  // justify-content: center;
  // align-content: center;
  // height: auto;
  // padding-top: 90px;
  // border:1px solid red;
  &__stackTitle.label {
    left:0px;
  }

  &__stackTitle {
    position:absolute;
    top:120px;
    left:120px;
    font-size: 36px;
    padding:5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.493);
    border-right: 0.5px solid white;
    color: white;
    border-radius: 5px;
    transition-duration: 1s;
    
    &.rotate {
     transform: rotateY(360deg);
    }
  }


  &__container{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    // height: auto;
    padding-top: 90px;
    
  }

  &__items{
    display: flex;
    margin-top: 150px;
    padding-bottom: 30px;
    justify-content: center;
    align-content:flex-start; 
    flex-wrap: wrap;
    gap:15px;
    transition-duration: 2s;
  }

  &__card {
    width: 90px;
    height:110px;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    font-size: 35px;
    // background-color: rgba(58, 56, 56, 0.24);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.493);
    color: white;
    border-radius: 5px;
    // transition-duration: 2s;
    // border-top: 0.5px solid white;
    border-right: 0.5px solid white;
 
  }
  &__title {
    color:white;
    font-size: 14px;
    margin: auto;
    // background-color: rgba(61, 59, 57, 0.3);
    padding: 3px;
    border-radius: 5px;
    // transform: scale(3);
    
  }

}

