.skill {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width:1000px;
  min-width: 80vw;
  height: auto;
  flex-wrap: wrap;
  gap:10px;

  &__container {

  }

  &__card {
    width: 100px;
    height:125px;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    font-size: 50px;
    // background-color: rgba(58, 56, 56, 0.24);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.493);
    color: white;
    border-radius: 5px;
    // border:1px solid black;

  }
  &__title {
    color:white;
    font-size: 15px;
    margin: auto;
    background-color: rgba(61, 59, 57, 0.3);
    padding: 3px;
    border-radius: 5px;
    // transform: scale(3);
  }
    

  


}